Package: anon-qt-wallet
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Aditya Kulkarni <anon@adityapk.com>
Description: AnonWallet is a full node and UI wallet for Anon.
 AnonWallet is a full node and UI wallet for Anon. It comes with 
 full support for shielded addresses and many apps for Anon.
